<mat-list *ngIf="starship">
  <mat-list-item>
    <app-preview-list-item
      [label]="'Name'"
      [value]="starship.name">
    </app-preview-list-item>
  </mat-list-item>
  <mat-list-item>
    <app-preview-list-item
      [label]="'Model'"
      [value]="starship.model">
    </app-preview-list-item>
  </mat-list-item>
  <mat-list-item>
    <app-preview-list-item
      [label]="'Manufacturer'"
      [value]="starship.manufacturer">
    </app-preview-list-item>
  </mat-list-item>
  <mat-list-item>
    <app-preview-list-item
      [label]="'Cost in credits'"
      [value]="starship.cost_in_credits">
    </app-preview-list-item>
  </mat-list-item>
  <mat-list-item>
    <app-preview-list-item
      [label]="'Hyperdrive_rating'"
      [value]="starship.hyperdrive_rating">
    </app-preview-list-item>
  </mat-list-item>
  <mat-list-item>
    <app-preview-list-item
      [label]="'Crew'"
      [value]="starship.crew">
    </app-preview-list-item>
  </mat-list-item>
  <mat-list-item>
    <app-preview-list-item
      [label]="'Class'"
      [value]="starship.starship_class">
    </app-preview-list-item>
  </mat-list-item>
</mat-list>
