<div *ngIf="!duelNotPossible" class="page--container">

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player 1</mat-card-title>
        <mat-card-subtitle>Wins: {{ playerOneScore }} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [ngSwitch]="mode">
        <app-person-preview *ngSwitchCase="gameMode.People" [person]="playerOnePick"></app-person-preview>
        <app-starship-preview *ngSwitchCase="gameMode.Starships" [starship]="playerOnePick"></app-starship-preview>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button color="primary"
          [ngSwitch]="mode"
          [disabled]="isPlayerOnePickDisabled"
          (click)="playerOneDraw.emit()">
          <span *ngSwitchCase="gameMode.People">Draw a character!</span>
          <span *ngSwitchCase="gameMode.Starships">Draw a starship!</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>
            Results:
          </h2>
          <h1>
            {{ result }}
          </h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="isResetGameDisabled" (click)="reset.emit()">Play again!
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="page--container__item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player 2</mat-card-title>
        <mat-card-subtitle>Wins: {{ playerTwoScore }} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [ngSwitch]="mode">
        <app-person-preview *ngSwitchCase="gameMode.People" [person]="playerTwoPick"></app-person-preview>
        <app-starship-preview *ngSwitchCase="gameMode.Starships" [starship]="playerTwoPick"></app-starship-preview>
      </mat-card-content>

      <mat-card-actions >
        <button
          mat-raised-button color="primary"
          [ngSwitch]="mode"
          [disabled]="isPlayerTwoPickDisabled"
          (click)="playerTwoDraw.emit()">
          <span *ngSwitchCase="gameMode.People">Draw a character!</span>
          <span *ngSwitchCase="gameMode.Starships">Draw a starship!</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div *ngIf="duelNotPossible" class="page--container">
  <div class="page--container__item-xlarge">
    <mat-card>
      <mat-card-header>
        <div class="example-header-image"></div>
        <mat-card-title>Something went wrong!</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/r2andc3po.jpg">
      <mat-card-content>
        <p>
          Unfortunately we could not load the game data, please try to reload the page so R2D2 and C3PO may try to fix this issue.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
