.page{
  &--container{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;

    &__item{
      max-width: 450px;

      &-clickable{
        cursor: pointer;
      }

      &-xlarge{
        max-width: 700px;
      }

      &-wide{
        width: 80%;
        margin-bottom: 5%;
      }
    }
  }
}
